# PSoC Creator Files
/Backup/
/UART_to_BLE_peripheral/codegentemp/
/UART_to_BLE_peripheral/CortexM0/
/UART_to_BLE_peripheral/Export/
/UART_to_BLE_peripheral/Generated_Source/
/UART_to_BLE_peripheral/*.cyfit

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
